*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  background-image: url("../images/bgimage.jpg");
  background-size: cover;
  background-position: 100% 100%;
}

body::before{
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100vw;
  height: 100vh;
  z-index: -2;
  background: linear-gradient(90deg, rgba(33, 83, 94, 0.3) 0%, rgba(31, 106, 121, 0.3) 50%, rgba(29, 142, 165, 0.3) 100%);
}

h1{
  position: absolute;
}

#relocate{
  position: absolute;
  left: 10px;
  top: 5px;
  height: 50px;
  width: 50px;
  background-color: #20525C;
  color: white;
  border-radius: 50%;
  border: 0;
  font-size: 25px;
  transition: .3s ease;
  cursor: pointer;
  outline: none;
}

#relocate:active{
  background-color: #378d9e;
}

.container{
  background-color: white;
  padding: 30px;
  box-shadow: 0px 0px 5px lightgray;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  transform: translateY(30px);
  margin-bottom: 100px;
}

.table{
  width: 65%;
  margin-top: 100px;
}

.checkout{
  width: 30%;
  margin-top: 100px;
  padding: 10px;
  background-color: rgb(237, 237, 237);
  border-radius: 5px;
  height: 300px;
  box-shadow: 0px 0px 5px gray;
}

.totali{
  display: flex;
  flex-direction: column;
  gap: 10px;
}

form{
  display: flex;
  gap: 5px;
}

td > p{
  font-size:13px;
  color: gray;
}

td:nth-child(3){
  font-size:22px;
  font-weight:bold;
}

td:nth-child(4),td:nth-child(3),td:nth-child(5){
  vertical-align: middle;
}

button{
  width: 70px;
  height: 50px;
  border: 0;
  border-radius: 5px;
  background-color: #20525C;
  color: white;
  font-weight: bold;
  text-shadow: 0px 0px 5px black;
  transition: .3s ease;
}



.totali-buttonat{
  margin: 0px 10px;
  display: flex;
}

.totali-buttonat button{
  flex: 1;
}


button:last-child{
  background-color: rgb(7, 91, 174);
  transition: .3s ease;
}

button:last-child:hover{
  background-color: rgb(5, 62, 118);
  transition: .3s ease;
}

button:hover{
  background-color: #378d9e;
  transition: .3s ease;
}